      %p.fa.fa-user.fa-fw.faa-tada.animated-hover.group_name tomoo_brothers
      %p.first_message まだメッセージはありません。
      %p.fa.fa-user.fa-fw.faa-tada.animated-hover.group_name keio_brothers
      %p.first_message まだメッセージはありません
      %p.fa.fa-user.fa-fw.faa-tada.animated-hover.group_name tomoo_brothers
      %p.first_message まだメッセージはありません。
      %p.fa.fa-user.fa-fw.faa-tada.animated-hover.group_name tomoo_brothers
      %p.first_message まだメッセージはありません。
      %p.fa.fa-user.fa-fw.faa-tada.animated-hover.group_name tomoo_brothers
      %p.first_message まだメッセージはありません。
