
//サイドバー
= render 'groups/sidebar'



//チャット部分
.chat
  //
  .chat_group
    %p.group_name= @groups.name
    %p.member member: tomoo, keio, masao
    = link_to edit_group_path(@group) do
      %p Edit
  .chat_contents
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント
    %p.chat_name tomoo,2017/09/09 16:30
    %p コメント


  //投稿フォーム
  .send_form
    %form.comment
      %input.send{placeholder:"チャットする", type:"text"}/

      %br/
    %f.send_button
      %input{type:"submit", value:"send"}/
    %i.fa.fa-photo.fa-lg
