//左の部分
.sidebar
  .side_user
    %p.user_name ともお

  .side_group
    %p.group_name tomoo_brothers
    %p.first_message まだメッセージはありません。
    %p.group_name keio_brothers
    %p.first_message まだメッセージはありません
    %p.group_name masao_brothers
    %p.first_message まだメッセージはありません。


//右の部分
.chat
  .chat_group
    %p.group_name brothers
    %p.member member: ともお, けいお, まさお
  .chat_contents
    %p.chat_name ともお,2017/09/09 16:30
    %p きたね

//投稿フォーム
.send_option
