 //サイドバー
.sidebar {
  width: 300px;
  height: 100vh;
  color: white;
  float: left;
  background-color: #2f3e51;


  .side_user {
    width: calc(100% - 40px);
    height: 120px;
    padding: 0px 20px 0px;
    background-color: #253141;
    .user {
      padding-top: 50px;
      .user_name {
        font-size: 16px;
        font-weight: bold;
        float: left;
      }

      .fa {
        color: white;
        float: right;

      }
    }
  }

  .side_group {
    padding-left: 20px;
    height: 50vh;
    overflow: scroll;

    .group_name {
      color: white;
      padding-top: 20px;
      padding-bottom: 5px;

    }
    .first_message {
      color: white;
      padding-bottom: 40px

    }
  }
}


  //チャット部分
.chat {
  float: left;
  width: calc(100vw - 300px);
  height: 100vh;

  .chat_group {
    height: 120px;
    width: 100%;
    border-bottom: dotted 1px #eeeeee;
    float: left;
    .group {
      padding-top: 50px;
      .group_name {
        padding-left: 40px;
        width: 30%;
        float: left;
        font-size: 20px;
      }
      .edit_button {
        float: right;
        width: 60px;
        height:40px;
        background-color: aqua;
        text-align: center;
        line-height: 40px;
        margin-right: 50px;
        input{
          width: 60px;
          height:40px;
          border:solid 3px #38AEF0;
          background-color: white;
          color: #38AEF0;
          position: absolute;
          right: 20px;
          top: 40px;
        }
      }
    }
    .member{
      clear: both;
      padding:10px 0px 0px 40px;
    }
  }



  .chat_contents {
    background-color: white;
    padding-left: 40px;
    height: calc(100vh - 220px);
    overflow: scroll;
    clear: both;

    .chat_name {
      padding-top: 46px;
      padding-bottom: 10px;
    }
  }
}

  //送信部分
.message_form {
  background-color: gray;
  clear: both;
  height: 99px;
  width: calc(100vw - 300px);


  .message {
    width: 60vw;
    padding-top: 20px;

    .send {
      float: left;
      padding-left: 40px;
      width: 40vw;
      position: relative;
      .fa{
        position: absolute;
        top: 20px;
        right: -40px;
      }
      input{
        height: 3.5em;
        width: 45vw
      }
    }
    .send_button {
      float: right;
      input {
        background-color: #38AEF0;
        width: 77px;
        height: 3.5em;
      }
    }
  }

}

